*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}
#main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    height: 100vh;
    width: 100vw;
    background-color: lightblue;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    font-weight: 600;
    height: 300px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.22);
}
.card img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.card h2{
    font-weight: 600;
    font-size: 26px;
}
.card p{
    font-size: 14px;
    font-weight: 600;
    color: #888;
    text-align: center;
}
.card button{
    padding: 10px 30px;
    font-size: 14px;
    border: none;
    border-radius: 50px;
    background-color: rgb(0, 123, 255);
    box-shadow: none;
    color: white;
    font-weight: 600;
    border: 2px solid rgb(0, 123, 255) ;
    cursor: pointer;
}
.card button:hover{
    transform: scale(1.5px);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 123, 255);
}
.card h2{
    text-align: center;
}