@font-face {
    font-family: Wildy Sans;
    src: url(./Wildy-Sans.ttf);
}
@font-face {
    font-family: bold;
    src: url(./Poppins-SemiBold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
     height: 100%;
     width: 100%;
}
#page{
    height: 100vh;
    width: 100vw;
    background-image: url(./dark-style-sky-nighttime.jpg);
    background-size: cover;
    background-position: center;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 200px;

}
h1{
    font-family: Wildy Sans;
    color: white;
    font-size: 100px;
}
#button{
    background-color: rgb(255, 82, 19);
    height: 40px;
    width: 140px;
    text-align: center;
    padding-top: 7px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-radius: 4px 6px 6px 4px;
}
a{
    font-family: bold;
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.explore{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 30px;
   
}
#button:hover{
    background-color: rgb(255, 0, 0);
    transform: scale(1.05);
}
#footer{
    color: white;
}
#container{
    display: flex;
    justify-content: center;
   align-items: flex-end;
    height: 430px;
}
