@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./src/HelveticaNowDisplay-Hairline.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./src/HelveticaNowDisplay-Thin.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./src/HelveticaNowDisplay-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./src/HelveticaNowDisplay-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./src/HelveticaNowDisplay-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./src/HelveticaNowDisplay-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./src/HelveticaNowDisplay-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./src/HelveticaNowDisplay-Black.ttf");
  font-weight: 900;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: HelveticaNowDisplay;
    font-weight: 500;
}
html,body{
height: 100%;
width:100%;
}
#nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 70px;
    
}
#main{
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
#nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    margin-right: 30px;
}
#main>h1 {
    font-size: 330px;
    font-weight: 300;
    font-family: 'HelveticaNowDisplay';
    margin-left: 70px;
    
}
#bottomleft{
    width: 300px;
    position: absolute;
    bottom: 15%;
    left: 3%;
  
}
#bottomleft h4 {
    margin-top: 30px;

}
#bottomleft h3 {
   font-size: 20px;

}
#bottomleft p{
    margin-top: 5px;
    font-size: 18px;

}
#bottombar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    
   padding: 25px 45px;

}
#bottombar a{
    color: #000000;
    font-size: 32px;
    text-decoration: none;
}
#main>img{
    position: absolute;
    
}
 #main #first{
    top: 50%;
    left: 37%;
    height: 250px; 
    
}
#main #second{
    top: 67%;
    left: 47%;
    height: 180px; 
    
}
#main #third{
    top: 43%;
    left: 55%;
    height: 270px; 
    
}