*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#page{

}
.hero{
    font-family: sans-serif;
    padding-top: 50px;
    text-align: center;
    color: white;
    width: 100%;
    height: 200px;
    background-color: #15173D;
}
.hero p{
    color: rgba(218, 216, 216, 0.941);
}
.section{
   margin-bottom: 70px;
}
.container{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(248, 248, 249);
    padding: 20px;
}
.container2{
    background-color: #0AC4E0;
}
.container3{
    background-color: #F6CE71;
}
.container4{
    background-color: #B2A5FF
}
.container5{
    background-color: #AEEA94;
}
.div-inside{
    background-color: white;
    width: 600px;
    margin: 5px auto;
    height: 30px;
    padding-top: 8px;
}
a{
    color: black;
}
.footer{
    width: 100%;
    background-color:#15173D;
    height: 60px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer p{
    color: white;
}